HRC.Service.Library/Connected Services/CalculatorServiceReference/Calculator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HRC.Service.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HRC.Service.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResult" nillable="true" type="tns:BaseResult" />
  <xs:complexType name="FilterAndOrderValuesResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="FilterAndOrderValues" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FilterAndOrderValuesResult" nillable="true" type="tns:FilterAndOrderValuesResult" />
</xs:schema>