HRC.Service.Library/Connected Services/CalculatorServiceReference/Calculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Calculator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55464/Calculator.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55464/Calculator.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55464/Calculator.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:55464/Calculator.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HRC.Service" />
      <xsd:import schemaLocation="http://localhost:55464/Calculator.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HRC.Service.Results" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_CalcDeterminant_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcDeterminant" />
  </wsdl:message>
  <wsdl:message name="ICalculator_CalcDeterminant_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcDeterminantResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_FilterAndOrderValues_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterAndOrderValues" />
  </wsdl:message>
  <wsdl:message name="ICalculator_FilterAndOrderValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterAndOrderValuesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="CalcDeterminant">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/CalcDeterminant" message="tns:ICalculator_CalcDeterminant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/CalcDeterminantResponse" message="tns:ICalculator_CalcDeterminant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterAndOrderValues">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/FilterAndOrderValues" message="tns:ICalculator_FilterAndOrderValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/FilterAndOrderValuesResponse" message="tns:ICalculator_FilterAndOrderValues_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculator" type="tns:ICalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcDeterminant">
      <soap:operation soapAction="http://tempuri.org/ICalculator/CalcDeterminant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterAndOrderValues">
      <soap:operation soapAction="http://tempuri.org/ICalculator/FilterAndOrderValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculator">
    <wsdl:port name="BasicHttpBinding_ICalculator" binding="tns:BasicHttpBinding_ICalculator">
      <soap:address location="http://localhost:55464/Calculator.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>