HRC.Service.Library/Connected Services/CalculatorServiceReference/Calculator4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55464/Calculator.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:55464/Calculator.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HRC.Service" />
  <xs:import schemaLocation="http://localhost:55464/Calculator.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HRC.Service.Results" />
  <xs:element name="CalcDeterminant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="matrixValues" nillable="true" type="q1:ArrayOfArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcDeterminantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HRC.Service" minOccurs="0" name="CalcDeterminantResult" nillable="true" type="q2:CalcDeterminantResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterAndOrderValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="matrixValues" nillable="true" type="q3:ArrayOfArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterAndOrderValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HRC.Service.Results" minOccurs="0" name="FilterAndOrderValuesResult" nillable="true" type="q4:FilterAndOrderValuesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>